<!DOCTYPE html>
<html>

<head>
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="assets/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/app.src.css">
</head>

<body ng-app="app">
    <div ng-controller="MainController">
        <div class="row" ng-if="error" style="color:red;">{{error}}</div>
        <div class="small-12 large-6 collums">
            <form>
                <input type="text" placeholder="Paste youtube link here..." ng-model="links[0]" />
                <input type="button" value="Submit" ng-click="sendLink()">
            </form>
            <label>Download list</label>
            <div ng-repeat="info in infos">
                <h3>{{info.filename}}</h3>
            </div>
            <!-- <p>{{dlInfo.filename}}</p> -->
            <p ng-if="dlInfo">{{dlInfo.percent + '%'}}</p>
        </div>
        <div class="small-12 large-6 collums">
            <p ng-if="converting">{{converting}}</p>
            <ul>
                <li ng-repeat="audio in audios">
                    <a href="{{audio.path}}">{{audio.filename}}</a>
                </li>
            </ul>
        </div>
    </div>
</body>
<!-- <script type="text/javascript" src="vendors/foundation/js/foundation/foundation.js"></script> -->
<script type="text/javascript" src="assets/js/vendors.min.js"></script>
<script type="text/javascript" src="assets/js/app.src.js"></script>

</html>
